extends ../layout

block content
    .page-header
        h3 Sign up
    form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .col-sm-8.col-sm-offset-2
            .form-group
                label.control-label(for='email') Email
                input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
                label.control-label(for='password') Password
                input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
                label.control-label(for='confirmPassword') Confirm Password
                input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
            .form-group
                button.btn.btn-success(type='submit')
                    span.ion-person-add
                    | Signup
            hr
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                i.fa.fa-facebook
                | Signup with Facebook
            a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                i.fa.fa-twitter
                | Signup with Twitter